<div class="col-sm-6 col-xl-12">
  <div class="container-fluid mt-5">
    <div class="container-fluid mt-5">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Banner Details</h6>
        <div class="container ">

          <form action="/admin/add-banner" method="POST" enctype="multipart/form-data">
          

            <div class="mt-5 mb-3">
              <label for="" class="form-label">Banner</label>
              <input type="text" class="form-control" name="banner" id="exampleInputUsername">
            </div>
             <div class="mt-5 mb-3">
              <label for="" class="form-label">Banner Caption</label>
              <input type="text" class="form-control" name="banner_caption" id="exampleInputUsername">
            </div>

            <div class="mt-5 mb-3">
              <label for="" class="form-label">image</label>
              <input id="fileInput" type="file" class="form-control" name="image" multiple >
            </div>


            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>