<div class="col-sm-6 col-xl-12">
  <div class="container-fluid mt-5">
    <div class="container-fluid mt-5">
      <div class="bg-secondary rounded h-100 p-4">

        <div class="container ">

          <form action="/admin/add-Coupons" method="POST" id="form">


            <div class="mt-5 mb-3">
              <label for="" class="form-label">Coupon label</label>
              <input type="text" class="form-control" name="name" id="exampleInputUsername">
            </div>
            <div class="mt-5 mb-3">
              <label for="" class="form-label">Offer</label>
              <input type="number" class="form-control" name="offer" id="exampleInputUsername">
            </div>
            <div class="mt-5 mb-3">
              <label for="" class="form-label">Validity</label>
              <input type="text" class="form-control" name="validity" id="exampleInputUsername">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>