<div style="margin-top: 150px; background-color: lightgray; width: 50%; border-radius: 2rem; margin-left: 300px; height: 100p;">
<div class="col-sm-6 col-xl-12">
    <div class="container ">
       

        <form action="/AddAddress" id="form" method="post">

    
            <div class="mt-5 mb-3">
                <label class="form-label">Full name</label>
                
             <input type="text" class="form-control" name="First_Name"  value="" id="exampleInputUsername" required>
             
            </div>
			 <div class="mt-5 mb-3">
                <label  class="form-label">last name</label>
                
               
             <input type="text" class="form-control" name="Last_Name"  value="" id="exampleInputUsername" required>
             
            </div>

			 <div class="mt-5 mb-3">
                <label  class="form-label">company name</label>
                
               
             <input type="text" class="form-control" name="Company_Name"  value="" id="exampleInputUsername" required>
             
            </div>

            <div class="mt-5 mb-3">
                <label  class="form-label">street address</label>
                
               
             <input type="text" class="form-control" name="Street_Address"  value="" id="exampleInputUsername" required>
             
            </div>

            
            <div class="mt-5 mb-3">
                <label  class="form-label">landmark</label>
                
               
             <input type="text" class="form-control" name="Extra_Details"  value="" id="exampleInputUsername" required>
             
            </div>

                <div class="mt-5 mb-3">
                <label  class="form-label">Town </label>
                
               
             <input type="text" class="form-control" name="Town_City"  value="" id="exampleInputUsername" required>
             
            </div>

            <div class="mt-5 mb-3">
                <label  class="form-label">city </label>
                
               
             <input type="text" class="form-control" name="Country_State"  value="" id="exampleInputUsername" required>
             
            </div>
            
              <div class="mt-5 mb-3">
                <label  class="form-label">post code</label>
                
               
             <input type="text" class="form-control" name="Post_Code"  value="" id="exampleInputUsername" required>
             
            </div>

             <div class="mt-5 mb-3">
                <label  class="form-label">phone</label>
                
               
             <input type="text" class="form-control" name="phone"  value="" id="exampleInputUsername" required>
             
            </div>

            <div class="mt-5 mb-3">
                <label  class="form-label"> alt- phone</label>
                
               
             <input type="text" class="form-control" name="phone"  value="" id="exampleInputUsername" required>
             
            </div>
            
            


            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

    </div>
</div>
</div>