<div class="container">

	<div class="col-sm-12 empty-cart-cls text-center mb-5 " style="margin-top:200px ;">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCVoxXy2H-NSMbRMWpoj3psLOu8lGra5mMTg&usqp=CAU" width="130" height="130"
			class="img-fluid mb-5 mr-3">
		<h3 class="mb-5"><strong>Order Placed Successfully</strong></h3>
		<button type="button" class="btn btn-outline-secondary">
			<a href="/orders" class="btn btn-index ">View Orders </a>
		</button>

	</div>